* {
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10pt;
}

body {
  background-color: #e4e4e4;
  font-family: 'Roboto', sans-serif;
  height: 50%;
  width: 50%;
}

div {
  background: #ffffff;
}

text {
  font: 'Roboto', sans-serif;
  text-align: right;
}
.brownie-image {
  text-align: right;
  font-size: 12px;
  color: #8f8f8f;
}
.brownie-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-left: 5px;
  position: static;
}
.title {
  font-size: 28px;
  text-align: center;
  font: 'Roboto', sans-serif;
  margin-top: 20px;
  margin-bottom: -35px;
  position: static;
}
.title1 {
  font-size: 20px;
  text-align: center;
  color: #1b1b1b;
  font: 'Roboto', sans-serif;
}
.title2 {
  text-align: center;
  color: #1b1b1b;
  font-size: 20px;
  font: 'Roboto', sans-serif;
}

.title3 {
  text-align: center;
  color: #39393a;
  font-size: 20px;
  font: 'Roboto', sans-serif;
}
.legenda-imagem {
  text-align: right;
  color: #8f8f8f;
  font-size: 12px;
}
li {
  font-size: 16px;
  color: #8f8f8f;
  margin-left: 20px;
  font: 'Roboto', sans-serif;
  line-height: 1.5;
}
p {
  color: #39393a;
  font: 'Roboto', sans-serif;
  line-height: 1.5;
  text-align: center;
}
footer {
  text-align: center;
  color: #8f8f8f;
  font-size: 12px;
  font: 'Roboto', sans-serif;
  margin-bottom: 30px;
}
a {
  margin-left: 1px;
  color: rgb(194, 122, 78);
}
